
body {
  font-family: 'Roboto Slab', serif;  
  font-size: 12px;
}

:root {
  --search: #f6f6f6;
  --bg-color-up: #009688;
  --bg-color-down: #dcdbd1;
  --boolzap-header: #eaeaea;
  --boolzap-footer: #f3eeea;
  --updates-lightblue: #8edafc;
  --active-chat: #e9ebeb;
  --message-left: #ffffff;
  --message-right: #d5f9ba;
  --icons: #b1b1b1;
  --last-message: #bbc6d4;
}

input::placeholder {
  font-size: 12px;
}

button {
  border: none;
  background-color: var(--boolzap-footer);
  padding: 10px 15px;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
}


img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

i {
  font-size: 15px;
  color: var(--icons);
  cursor: pointer;
}

#app {
  height: 100vh;
  background-image: linear-gradient(
    var(--bg-color-up) 0 150px, var(--bg-color-down) 150px 100%
  );
}

#boolzap-viewport {
  height: 90%;
  width: 90%;
  max-width: 1400px;
  background-color: white;
  box-shadow: 1px 1px 10px -5px #333;
}

/* --------- BARRA LATERALE ---------- */

#boolzap-side {
  width: 35%;
  border-right: 1px solid var(--icons);
}

#boolzap-side .my-account {
  background-color: var(--boolzap-header);
  padding: 10px;
}

#boolzap-side .notifications {
  background-color: var(--updates-lightblue);
  padding: 10px 20px;
}

#boolzap-side .search {
  padding: 5px 5px;
  background-color: var(--boolzap-footer);
}

#boolzap-side .chat-thumb-list {
  overflow: scroll;
}

/* -------------------------------- */

#boolzap-side .notifications .notifications-icon {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
}
#boolzap-side .notifications .notifications-icon i {
  color: var(--updates-lightblue);
  font-size: 16px;
}

#boolzap-side .search .fa-magnifying-glass {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

#boolzap-side .search input {
  padding: 5px 5px 5px 35px;
}

#boolzap-side .chat-thumb-list .chat-thumb {
  padding: 10px;
  cursor: pointer;
}

#boolzap-side .chat-thumb-list .chat-thumb:hover {
  background-color: var(--active-chat);
}

#boolzap-side .chat-thumb-list .chat-thumb img {
  height: 60px;
  width: 60px;
  margin: 0 20px 0 10px;
}


/* --------- BARRA PRINCIPALE ---------- */

#boolzap-main {
  width: 65%;
}

#boolzap-main .receiver {
  padding: 10px;
  background-color: var(--boolzap-header);
}

#boolzap-main .chat-main-list {
  height: 100%;
  overflow: scroll;
}

#boolzap-main .chat-main {
  background-image: url('../img/mine.jpg');
  background-repeat: repeat;
  overflow: scroll;
}

#boolzap-main .input-message {
  padding: 10px 0;
  background-color: var(--boolzap-footer);
}

/* ----------------------------- */


#boolzap-main .chat-main .sent {
  justify-content: end;
}

#boolzap-main .chat-main .received {
  justify-content: start;
}

#boolzap-main .chat-main .received .text-message {
  background-color: var(--message-left);
}
#boolzap-main .chat-main .sent .text-message {
  background-color: var(--message-right);
}
#boolzap-main .chat-main .text-message {
  position: relative;
  padding: 10px 100px 10px 10px;
  border-radius: 5px;
  width: 300px;
}

#boolzap-main .input-message .icon {
  margin: 0 5px;
}

#boolzap-main .input-message .icon i {
  font-size: 16px;
}

#boolzap-main .input-message input {
  width: 100%;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
}

#boolzap-main .chat-main-list .text-message .time-message {
  position: absolute;
  right: 5px;
  bottom: 2px;
  font-size: 10px;
  color: grey;
}
#boolzap-main .chat-main-list .text-message .fa-chevron-down {
  position: absolute;
  right: 5px;
  top: 2px;
  font-size: 10px;
  display: none;
}
#boolzap-main .chat-main-list .message:hover .fa-chevron-down {
  display: block;
}


/* --------- UTILITIES -------- */

.hidden_a {
  display: none;
}

.active_a {
  background-color: var(--active-chat);
}

/* .d-flex {
  display: flex;
} */

/*
<i class="fa-solid fa-microphone"></i>
<i class="fa-regular fa-face-smile"></i>
<i class="fa-solid fa-ellipsis-vertical"></i>
<i class="fa-solid fa-magnifying-glass"></i>
<i class="fa-solid fa-chevron-down"></i>
<i class="fa-solid fa-paperclip"></i>
<i class="fa-solid fa-bell-slash"></i>
<i class="fa-solid fa-message"></i>
<i class="fa-solid fa-circle-notch"></i>  

*/